# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#binary file
emu

#editor temp files
\#*
.\#*
*~
~*

# CMake build dir
build/

# own convenience scripts
clean.sh
configure.sh

.vscode

# any hex files
*.hex

